﻿@model WebApplication6.Models.Subscriber
    
@{
    ViewBag.Title = "Sign Up";
}

@{
    Layout = "";
}

<html>
<head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <style>
        .required {
            color: red;
        }

        .regForm {
            margin-bottom: 20px;
        }

        .registreation-form-row {
            width: 700px;
            margin: 0 auto;
            padding-bottom: 40px;
            background: #fff;
            padding: 15px;
            border: 1px solid #eaeaea;
            border-radius: 4px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">Sign Up</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row registreation-form-row"z>
            <form method="post">
                <div>
                    <div class="form-group">
                        <label class="control-label">
                            Student Id <span class="required">*</span> :
                        </label>
                        <div class="col-md-5 col-sm-5 col-xs-12 regForm">
                            <input type="text" id="studentId" name="studentId" required class="form-control col-md-7 col-xs-12" style="margin-left:5px; ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            User Name <span class="required">*</span> :
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 regForm">
                            <input type="text" id="Name" name="Name" required class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Email <span class="required">*</span> :
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 regForm">
                            <input type="email" id="Email" name="Email" required class="form-control col-md-7 col-xs-12" style="margin-left:35px; ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Password <span class="required">*</span> :
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 regForm">
                            <input type="password" id="Password" name="Password" required class="form-control col-md-7 col-xs-12" style="margin-left:10px; ">
                        </div>
                    </div>
                    @if ((string)TempData["Referrer"] == "Invalid")
                    {
                        <strong class="required">Invalid Student Registration</strong>
                    }
                    @if ((string)TempData["Referrer"] == "Exist")
                    {
                        <strong class="required">Already Registered Student</strong>
                    }
                    <div class="form-group">
                        <div class="col-md-offset-5  col-md-7">
                            <input type="submit" class="btn btn-success col-md-4" value="Register" onclick="Register()" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }


    <footer class="col-sm-10">
        @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
    </footer>
</body>
</html>

@section scripts{
    @Scripts.Render("~/Scripts/SubscriberRegister/SubscriberRegister.js");
}