﻿<link href="~/Content/yearpicker.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/Data Tables/DataTable.css" rel="stylesheet" />
<link href="~/Content/Data Tables/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />


<div class="row row-clr">
    <div class="col-md-6">
        <h2> Unpaid Report</h2>
    </div>
</div>

<div class="row form-inline" style="margin-top:30px;">
    <div class="col-md-2">
        @Html.DropDownList("grade", (SelectList)ViewBag.grades, "All Grades", new { @class = "form-control" })
    </div>
    <div class="col-md-3">
        <select class="form-control" id="schedule">
            <option value="value">Classes</option>
        </select>
    </div>
    <div class="col-md-7">
        <label class="col-md-2">Year:</label>
        <input type="text" id="year" class="yearpicker form-control col-md-2" autocomplete="off">
    </div>
    <div class="col-md-3">
        <label class="col-md-3">From:</label>
        @Html.DropDownList("from", (SelectList)ViewBag.months, "Select Month", new { @class = "form-control col-md-2" })
    </div>
    <div class="col-md-3">
        <label class="col-md-3">To:</label>
        @Html.DropDownList("to", (SelectList)ViewBag.months, "Select Month", new { @class = "form-control col-md-2" })
    </div>
    <div class="col-md-2 pull-right">
        <button class="btn btn-success iconButton" id="getReport" onclick="UnpaidGrid()" title="Apply date filters"><span class="glyphicon glyphicon-copy"></span></button>
    </div>
</div>

@*<input type="text" class="form-control" placeholder="search student name" value="" id="stdNo" autocomplete="off" style="float:left;margin:20px 0px 0px 50px;"><button class="btn btn-success search" id="stuSearchBox" style="margin-top:20px;"><span class="glyphicon glyphicon-search"></span></button>*@

<div style="float:right;margin:20px 25px 10px 0px;">
    <label id="total" class="hidden">Total Outstanding = <label style="float:right;margin-left:10px;margin-top:-2px;" id='totalOutstanding'></label></label>
</div>


<div class="container-fluid panel">
    <table id="unpaidTable" class="display table  table-striped">
        <thead id="tbl" style="background-color:gray;">
            <tr>
                <th>Student Name</th>
                <th>Grade</th>
                <th>Unpaid Month</th>
                <th>Amount</th>
            </tr>

        </thead>
        <tbody></tbody>
    </table>
</div>

<footer>
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>






@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/PaymentReport/Unpaid.js")
    @Scripts.Render("~/Scripts/plugin/yearpicker.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
}