﻿
@{
    Layout = "~/Views/Subscriber/Shared/Layout.cshtml";
}

<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />

<h3><b>Create blog</b></h3>

<div style="margin-bottom:10px;">
    <input type="text" id="blogHeading" name="blogHeading" class="form-control" placeholder="Add blog heading" />
    <span class="text-danger hidden" id="Heading_required">Heading is required</span><br />
</div>

<div>
    <div class="summernote col-sm-10" id="textarea" name="textarea" required>
    </div>
    <span class="text-danger hidden" id="Content_required">Content is required</span><br />
    <div class="row col-sm-1 pull-right">
        <button class="btn btn-success pull-right" onclick="publishBlog()">Publish</button>
    </div>
</div>



@section Scripts{

    @Scripts.Render("~/Scripts/Subscriber/Blog/Blog.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>