.login-section{
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: calc((100vh - 500px) / 2);
    .login-wrapper{
        width: 800px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.8);
        padding: 40px;
        line-height: 140%;
     
        h2{
            font-size: 32px;
            text-align: center;
        }
        p{
            font-size: 26px;
            text-align: center;
            margin: 20px 0;
        }
        .btn {
            margin: 15px 0;
        }
    }
    .home-icon{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 100px;
        height: 100px;
        background: rgba(255, 255, 255, 1);
        border-radius: 4px;
        text-align: center;
        box-shadow:  0 0 5px 1px rgba(0, 0, 0, 0.5);
        a{
            display: inline-block;
            img{
                width: 80px;
                margin: 0 auto;
            }
            p{
                font-size: 12px;
            }
        }
    }
}