﻿/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
/*.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#payment-form {
    background-color:lightblue;
    margin-left:80px;
}

.rowEle {
    margin-top:8px;
    margin-bottom:8px;
}

#submitPayment {
    background-color:gray;
    float:right;
    margin-top:10px;
    margin-bottom:10px;
    color:white;
}*/


.payement.pay {
    background-color: #6772e5;
    margin: 30px 0px 10px 100px;
}

    .payement.pay * {
        font-family: Roboto, Open Sans, Segoe UI, sans-serif;
        font-size: 16px;
        font-weight: 500;   
        margin-top:10px;
    }

    .payement.pay fieldset {
        margin: 0 15px 10px;
        padding: 0;
        border-style: none;
        background-color: #7795f8;
        box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
        border-radius: 4px;
    }

    .payement.pay .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        margin-left: 15px;
    }

        .payement.pay .row + .row {
            border-top: 1px solid #819efc;
        }

    .payement.pay label {
        width: 15%;
        min-width: 70px;
        padding: 11px 0;
        color: #c4f0ff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .payement.pay input, .payement.pay button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border-style: none;
    }

        .payement.pay input:-webkit-autofill {
            -webkit-text-fill-color: #fce883;
            transition: background-color 100000000s;
            -webkit-animation: 1ms void-animation-out;
        }

    .payement.pay .StripeElement--webkit-autofill {
        background: transparent !important;
    }

    .payement.pay .StripeElement {
        width: 100%;
        padding: 11px 15px 11px 0;
    }

    .payement.pay input {
        width: 100%;
        padding: 11px 15px 11px 0;
        color: #fff;
        background-color: transparent;
        -webkit-animation: 1ms void-animation-out;
    }

        .payement.pay input::-webkit-input-placeholder {
            color: #87bbfd;
        }

        .payement.pay input::-moz-placeholder {
            color: #87bbfd;
        }

        .payement.pay input:-ms-input-placeholder {
            color: #87bbfd;
        }

    .payement.pay button {
        display: block;
        width: calc(100% - 30px);
        height: 40px;
        margin: 40px 15px 10px 0px;
        background-color: burlywood;
        box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }

        .payement.pay button:active {
            background-color: #d782d9;
            box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
        }

    .payement.pay .error svg .base {
        fill: #fff;
    }

    .payement.pay .error svg .glyph {
        fill: #6772e5;
    }

    .payement.pay .error .message {
        color: #fff;
    }

    .payement.pay .success .icon .border {
        stroke: #87bbfd;
    }

    .payement.pay .success .icon .checkmark {
        stroke: #fff;
    }

    .payement.pay .success .title {
        color: #fff;
    }

    .payement.pay .success .message {
        color: #9cdbff;
    }

    .payement.pay .success .reset path {
        fill: #fff;
    }


/*--thank you pop starts here--*/
.thank-you-pop {
    width: 100%;
    padding: 20px;
    text-align: center;
}

    .thank-you-pop img {
        width: 76px;
        height: auto;
        margin: 0 auto;
        display: block;
        margin-bottom: 25px;
    }

    .thank-you-pop h1 {
        font-size: 42px;
        margin-bottom: 25px;
        color: #5C5C5C;
    }

    .thank-you-pop p {
        font-size: 20px;
        margin-bottom: 27px;
        color: #5C5C5C;
    }

    .thank-you-pop h3.cupon-pop {
        font-size: 25px;
        margin-bottom: 40px;
        color: #222;
        display: inline-block;
        text-align: center;
        padding: 10px 20px;
        border: 2px dashed #222;
        clear: both;
        font-weight: normal;
    }

        .thank-you-pop h3.cupon-pop span {
            color: #03A9F4;
        }

    .thank-you-pop a {
        display: inline-block;
        margin: 0 auto;
        padding: 9px 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        background-color: #8BC34A;
        border-radius: 17px;
    }

        .thank-you-pop a i {
            margin-right: 5px;
            color: #fff;
        }

#ignismyModal .modal-header {
    border: 0px;
}

