﻿<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />

<div class="row row-clr">
    <div class="col-md-6">
        <h2>Book Category</h2>
    </div>
    <div class="col-md-2 pull-right">
        <button class="btn btn-success buttonAdd" onclick="openModal()">Add Category   <span class="glyphicon glyphicon-plus-sign"></span></button>
    </div>
</div>


<div class="panel">
    <div class="container-fluid">
        <table id="bookCategory" class="display table table-striped">
            <thead style="background-color:gray;">
                <tr>
                    <th>Category Name</th>
                    <th>No Of Books</th>
                    <th>With Copies</th>
                    <th></th>
                    <th></th>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade " id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add New Book Category</h4>
            </div>
            <div class="modal-body" style="height:100px;">
                <div class="container-fluid">
                    <form id="editGradeForm" role="form">
                        <div class="row">
                            <label class="control-label col-sm-3" for="name">Book Category:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control categoryName" id="categoryName" placeholder="Enter Book Category" name="BookCategory" required>
                                <span class="error hidden categoryNameEmpty">Enter category Name</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default buttonAdd" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary buttonAdd" onclick="SaveAddCategory()">Save & Add New</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary buttonAdd" onclick="SaveCategory()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*edit view*@

<div class="modal fade " id="editCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Book Category</h4>
            </div>
            <div class="modal-body" style="height:100px;">
                <div class="container-fluid">
                    <form id="editGradeForm" role="form">
                        <div class="row">
                            <label class="control-label col-sm-3" for="name">Book Category:</label>
                            <div class="col-sm-6">
                                <input type="number" id="hdnId" class="hidden">
                                <input type="text" class="form-control categoryName" id="editCategoryName" placeholder="Enter Book Category" name="BookCategory" required>
                                <span class="error hidden categoryNameEmpty">Enter category Name</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary " onclick="UpdateCategory()">Update</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<footer>
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>


@section scripts {
    @Scripts.Render("~/Scripts/BookCategory/bookCategory.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/Tables.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>