﻿<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/plugin/Stripe/stripe.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/charge" method="post" id="payment-form">
            <div class="form-row">
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>

            <button>Submit Payment</button>
        </form>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/Scripts/plugin/Stripe/stripe.js"></script>
</body>
</html>
