﻿@model WebApplication6.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@{
    Layout = "";
}
<h2 style="margin-left:50px;margin-top:20px;">@ViewBag.Title.</h2>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 style="margin-left:50px;">Create a new account.</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.StudentId, new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
        </div>
        <div style="color:red;">
            @Html.ValidationMessageFor(m => m.StudentId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
        <div style="color:red;">
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div style="color:red;">
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div style="color:red;">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div style="color:red;">
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    @*@if ((string)TempData["Referrer"] == "Invalid")
        {
            <strong class="required">Invalid Student Registration</strong>
        }
        @if ((string)TempData["Referrer"] == "Exist")
        {
            <strong class="required">Already Registered Student</strong>
        }*@
    <div style="color:red;margin-left:100px;">
        @Html.ValidationSummary(true)
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
