﻿body {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left:165px;
}

/* Set padding to keep content from hitting the edges */
.body-content {

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input {
    
}
select,
textarea {

}


.has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

    .top-nav > li {
        display: inline-block;
        float: left;
        color: #c0b9b9;
    }

        .top-nav > li > a {
            padding-top: 20px;
            padding-bottom: 20px;
            line-height: 20px;
            color: #fff;
        }

            .top-nav > li > a:hover,
            .top-nav > li > a:focus,
            .top-nav > .open > a,
            .top-nav > .open > a:hover,
            .top-nav > .open > a:focus {
                color: #fff;
                background-color: #1a242f;
            }

    .top-nav > .open > .dropdown-menu {
        float: left;
        position: absolute;
        margin-top: 0;
        /*border: 1px solid rgba(0,0,0,.15);*/
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #fff;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

        .top-nav > .open > .dropdown-menu > li > a {
            white-space: normal;
        }

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position:fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        margin-right:100px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

        .side-nav > li > a {
            width: 225px;
            border-bottom: 1px rgba(0,0,0,.3) solid;
        }

        .side-nav li a:hover,
        .side-nav li a:focus {
            outline: none;
            /*background-color: #1a242f !important;*/
        }
}

.side-nav > li > ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

    .side-nav > li > ul > li > a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        /*color: #999;
        color: #fff;*/
    }

        .side-nav > li > ul > li > a:hover {
            color: #211919;
        }

.navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
}

.navbar .nav > li > a:hover > .label {
    top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}
.dropdown-menu > li > a {
    color: black;
    background-color: white;
}




#createStudentForm {
    margin-top: 50px;
}

/*#addStuFooter {
    margin-top:40px;
    padding-left:480px;
}*/

#clsTime2 {
    margin-left: 20px;
}
#editClsTime2 {
    margin-left: 20px;
}

/*#saveStudent {
    margin-top:20px;
}

#updateStuFooter {
    margin-top: 40px;
    padding-left: 480px;
}*/
#feesTable {
    padding-top:30px;
}


.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.spinner {
 display: none;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
.search {
    height:33px;
}
#Name {
    width:170px;
}
#total {
    margin-left: 200px;
}
#totalPayment {
    margin-left:10px;
}
#unpaidDetailTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 140%;
}
#unpaidDetailTable tbody, #customers th {
       border: 3px solid #ddd;
       padding: 8px 0px 0px 5px;
       text-align: center;
}

#unpaidDetailTable th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: grey;
      color: white;
}
#StudentName {
    width:200px;
}
#home {
    margin-top:7px;
    color:burlywood;
    font-family:serif;
    font-size: large;
}

.disabled {
    display:none;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

input[type="number"] {
    text-align:right;
}
input[type="checkbox"] {
    float: left;
    clear: both;
}
.yearpicker {
    width:100px;
}
#min, #max {
    width:180px;
}
#grade{
    width: 180px;
}
#from, #to {
    width: 140px;
}
#schedule, #bookNo, #stdNo, #copies {
    width: 220px;
}
.lend {
    width:200px;
}
.time1 , .time2{
    width: 125px;
}
.hide {
    visibility:hidden;
    
}
label {
    font-weight: inherit;
   
  
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    clear: both;
    float: left;
   
}
.error {
    color: red;
}


