﻿<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />


<div class="row row-clr">
    <div class="col-md-6">
        <h2>Books </h2>
    </div>
    <div class="col-md-2 pull-right">
        <button class="btn btn-success buttonAdd" onclick="openModal()">Add Book   <span class="glyphicon glyphicon-plus-sign"></span></button>
    </div>
</div>
<div class="container">
    <label class="checkbox-inline">
        <input type="checkbox" value="0">Display Copies
    </label>
</div>

<div class="panel">
    <div class="container-fluid">

        <table id="books" class="display table table-striped">
            <thead style="background-color:gray;">
                <tr>
                    <th>Book No</th>
                    <th>Name</th>
                    <th>No Of Copies</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



<div class="modal fade " id="addBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add New Book</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="editGradeForm" role="form">
                        <div class="row">
                            <label class="control-label col-sm-3" for="name">No:</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" id="bookNo" name="BookNo" style="width:150px;" required>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <label class="control-label col-sm-3" for="name">Category:</label>
                            <div class="col-sm-6">
                                @Html.DropDownList("SelectCategory", (SelectList)ViewBag.categoryId, "-Select Book Category-", new { @id = "categoryName", Name = "Select Book Category", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <label class="control-label col-sm-3" for="name">Name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control bookNameCheck" id="bookName" placeholder="Enter Book Name" name="BookName" required autocomplete="off">
                                <span class="error hidden bookNameEmpty">please enter book name</span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <label class="control-label col-sm-3" for="name">No Of Copies:</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" id="noOfCopies" name="NoOfCopies" required>
                            </div>
                        </div>
                        <div class="append">

                        </div>
                        <span class="error hidden formError">please fix the errors before save</span>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default buttonAdd" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary buttonAdd" onclick="SaveAddBook()">Save & Add New</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary buttonAdd" onclick="SaveBook()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*edit view*@

<div class="modal fade " id="editBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Book</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="editGradeForm" role="form">
                        <div class="row">
                            <label class="control-label col-sm-3" for="name">No:</label>
                            <div class="col-sm-3">
                                <input type="hidden" id="hdnId">
                                <input type="hidden" id="hdnNo">
                                <input type="number" class="form-control" id="editBookNo" name="BookNo" style="width:150px;" required>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <label class="control-label col-sm-3" for="name">Category:</label>
                            <div class="col-sm-6" id="selectedCategory">
                                @Html.DropDownList("SelectCategory", (SelectList)ViewBag.categoryName, new { @id = "editCategoryName", Name = "Select Book Category", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <label class="control-label col-sm-3" for="name">Name:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control bookNameCheck" id="editBookName" placeholder="Enter Book Name" name="BookName" required>
                                <span class="error hidden bookNameEmpty">please enter book name</span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <label class="control-label col-sm-3" for="name">No Of Copies:</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" id="editNoOfCopies" name="NoOfCopies">
                            </div>
                        </div>
                        <div class="appendEdit">

                        </div>
                        <div class="hiddenEdit hidden">

                        </div>
                        <span class="error hidden formError">please fix the errors before save</span>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" id="editCopy" onclick="UpdateBook()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade " id="scanQr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" id="closeScanner" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Scan QR</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <video id="preview" style="width:500px;"></video>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade " id="viewBookDetmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Book Details</h4>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <form id="viewBookDetForm" role="form">
                        <div class="md-form row form-inline" style="margin-top:10px;">
                            <textarea type="text" id="bookDet" class="md-textarea form-control" rows="4" style="margin-left:30px;"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default buttonAdd" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<footer>
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>

@section scripts {
    @Scripts.Render("~/Scripts/Books/books.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/Tables.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>
<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>