﻿
@{
    Layout = "~/Views/Subscriber/Shared/Layout.cshtml";
}

<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />

<div class="container-fluid">
    <table id="subsLibraryManagementTbl" class="display table  table-striped">
        <thead style="background-color:gray;">
            <tr>
                <th></th>
                <th>Book No</th>
                <th>Name</th>
                <th>Last Lend Date</th>
                <th>Summary</th>
            </tr>

        </thead>
        <tbody></tbody>
    </table>
</div>

<footer class="col-sm-10">
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>


@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/DataTables/Tables.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
    @Scripts.Render("~/Scripts/Subscriber/Library/LibraryDetails.js")
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
