﻿<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="plugins/SubscriberDashboard/fontawesome-free/css/all.min.css">

<div class="row row-clr">
    <div class="col-md-12">
        <h2>Pending Books</h2>
    </div>
    <div class="row row-clr">
        @*<div class="col-md-2">
            @Html.DropDownList("Categories", (SelectList)ViewBag.categories, "Book Category", new { @class = "form-control" })
        </div>*@
        <div class="col-md-3">
            <input type="number" class="form-control" placeholder="search book no" value="" id="bookNo" autocomplete="off" style="margin-left:20px;">
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" placeholder="search student no" value="" id="stdNo" autocomplete="off" style="margin-left:20px;">
        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-success iconButton" onclick="GetExcelRep()" title="export to excel"><span class="fas fa-file-excel"></span></button>
        </div>
    </div>

</div>

<div class="panel" style="margin-top:30px;">
    <div class="container-fluid">
        <table id="pending" class="display table table-striped">
            <thead style="background-color:gray;">
                <tr>
                    <th>Book No / Copy No</th>
                    <th>Name</th>
                    <th>Student Name</th>
                    <th>Lent Date</th>
                    <th id="filter">Category</th>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<footer>
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>

@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/Tables.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
    @Scripts.Render("~/Scripts/PendingBooks/pendingBooks.js")

}