﻿<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
    

<div class="row row-clr">
    <div class="col-md-6">
        <h2>Profile</h2>
    </div>

</div>

<div class="col-sm-12">
    <div class="container-fluid">

        <form role="form">
            <div class="row center" style="height: 200px; width: 100px; margin: 0px 0px -20px 400px;">
                <img class="img-responsive" src="~/images/user-image-icon-17.jpg" />
            </div>
            <div class="row">
                <div id="hdnId"></div>
                <label class="control-label col-sm-2" for="name"> User Name:</label>
                <div class="col-sm-6">
                    <input type="text" id="userName" class="form-control" name="userName" readonly />
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div id="hdnPassword"></div>
                <label class="control-label col-sm-2" for="fees">Enter Current Password:</label>
                <div class="col-sm-8 form-inline">
                    <input type="password" id="currentPassword" class="form-control" name="currentPassword" required />

                </div>
                <div id="errorMsg1" style="color: red;"></div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div id="hdnPassword"></div>
                <label class="control-label col-sm-2" for="fees">Enter New Password:</label>
                <div class="col-sm-8 form-inline">
                    <input type="password" id="newPassword" class="form-control" name="newPassword" required />

                </div>
                <div id="errorMsg2" style="color: red;"></div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-6 pull-right">
                        <button type="button" class="btn btn-primary buttonAdd" onclick="changePassword()">Change</button>
                    </div>
                </div>


            </div>
        </form>
    </div>

</div>


<footer class="col-sm-10" >
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>


<script src="plugins/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/AdminDetail/changePassword.js"></script>