﻿
<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />

<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />

@*@Html.Partial("_Layout")*@


<div class="row row-clr widget-row">
    <div class="col-md-3">
        <div class="row row-clr inner-wrapper">
            <div class="icon-wrapper green">
                <label class="glyphicon glyphicon glyphicon-ok"></label>
            </div>
            <div class="col-md-12 inner-content-wrapper">
                <h6>
                    Active Grades
                </h6>
                <p id="activeGrdCount"></p>

            </div>
        </div>


    </div>
    <div class="col-md-3">
        <div class="row row-clr inner-wrapper">
            <div class="icon-wrapper red">
                <label class="glyphicon glyphicon glyphicon glyphicon-remove"></label>
            </div>
            <div class="col-md-12 inner-content-wrapper">
                <h6>
                    Inactive Grades
                </h6>
                <p id="inactiveGrdCount"></p>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row row-clr inner-wrapper">
            <div class="icon-wrapper blue">
                <label class="glyphicon glyphicon glyphicon glyphicon-user"></label>
            </div>
            <div class="col-md-12 inner-content-wrapper">
                <h6>
                    No Of Students
                </h6>
                <p id="totStudents"></p>

            </div>
        </div>
    </div>
</div>

<div class="row row-clr">
    <div class="col-md-6">
        <h2> Grades</h2>
    </div>

    <div class="col-md-2 pull-right">
        <button class="btn btn-success buttonAdd" onclick="openModal()" style="">Add Grade  <span class="glyphicon glyphicon-plus-sign"></span></button>
    </div>
</div>

<div class="container-fluid">
    <table id="gradesDisTable" class="display table  table-striped">
        <thead style="background-color:gray;">
            <tr>
                <th ></th>
                <th>Grade</th>
                <th>Fee</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>

        </thead>
        <tbody></tbody>
    </table>
</div>


<div class="modal fade " id="grademodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Grade</h4>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">

                    <form id="createGradeForm" role="form">
                        <div class="row">
                            <label class="control-label col-sm-2" for="name">Grade:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control gradeNameCheck" id="gradeName" placeholder="Enter Grade Name" name="Grade" autocomplete="off" required>
                                <span class="error hidden gradeNameEmpty">please enter grade name</span>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <label class="control-label col-sm-2" for="fees">Fees:</label>
                            <div class="col-sm-8 form-inline">
                                <input type="text" class="form-control" id="fees" placeholder="Enter Fee" name="Fees" autocomplete="off" style="width:100%;text-align:right;">
                              
                            </div>
                            <div class="col-sm-2 form-inline">
                                <div class="row">
                                    <p for="fees" style="font-family:'Sitka Small'; padding:6px 0">LKR</p>
                                </div>
                               
                            </div>



                        </div>
                        <div class="md-form row form-inline" style="margin-top:10px;">
                            <label class="col-sm-2" data-error="wrong" data-success="right" for="form8">Description:</label>
                          
                            <div class="col-sm-10">
                                <textarea type="text" id="description" class="md-textarea form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary " onclick="SaveGrade()">Save</button>
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="editGrademodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Grade</h4>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">



                    <form id="editGradeForm" role="form">
                        <div class="row">
                            <label class="control-label col-sm-2" for="name">Grade:</label>
                            <div class="col-sm-5">
                                <input type="hidden" id="hdnGrdId">
                                <input type="text" class="form-control gradeNameCheck" id="editGradeName" placeholder="Enter Grade Name" name="Grade" required>
                                <span class="error hidden gradeNameEmpty">please enter grade name</span>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <label class="control-label col-sm-2" for="fees">Fees:</label>
                            <div class="col-sm-8 form-inline">
                                <input type="number" class="form-control" id="editFees" placeholder="Enter Fee" name="Fees" style="width:110px;text-align:right;">
                                <p for="fees" style="font-family:'Sitka Small'; float:right;margin-right:200px;margin-top:5px;">LKR</p>
                            </div>
                        </div>
                        <div class="md-form row form-inline" style="margin-top:10px;margin-left:1px;">
                            <label data-error="wrong" data-success="right" for="form8">Description:</label>
                            <textarea type="text" id="editDescription" class="md-textarea form-control" rows="4" style="margin-left:23px;"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary " onclick="EditGrade()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>

<footer class="col-sm-10">
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>

@section scripts {
    @Scripts.Render("~/Scripts/GradeList/GrdList.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/Tables.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
    @Scripts.Render("~/Scripts/bootstrap-toggle.min.js")

}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>