  .home-banner {
      background-image: url('../images/home-banner.png');
  }

  /* HD/Retina CSS */
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
  only screen and (min--moz-device-pixel-ratio: 1.25),
  only screen and (-o-min-device-pixel-ratio: 1.25/1),
  only screen and (min-device-pixel-ratio: 1.25),
  only screen and (min-resolution: 200dpi),
  only screen and (min-resolution: 1.25dppx) {
      .home-banner {
          background-image: url('../images/home-banner@2x.png');
      }
  }