﻿<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/Data Tables/DataTable.css" rel="stylesheet" />
<link href="~/Content/Data Tables/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="plugins/SubscriberDashboard/fontawesome-free/css/all.min.css">

<div class="row row-clr">
    <h2>Payments</h2>
</div>



<div class="row form-inline" style="margin:10px 0px 20px 0px;">
    <div class="row col-md-3">
        @Html.DropDownList("Name", (SelectList)ViewBag.grade, "All Grades", new { @class = "form-control" })
    </div>
    <div class="row col-md-3">

        <select class="form-control" id="schedule">
            <option value="value">Classes</option>
        </select>
    </div>

    <div class="row col-md-3">
        <label class="col-md-3">From:</label>
        <input type="date" id="min" name="min" class="form-control col-md-2" value="" required />
    </div>
    <div class="row col-md-3">
        <label class="col-md-3">To:</label>
        <input type="date" id="max" name="max" class="form-control col-md-2" value="" required />
    </div>
    <div class="row col-md-12">
        <button class="btn btn-success iconButton" onclick="GetExcelRep()" title="Export to excel" style="float:right;"><span class="fas fa-file-excel"></span></button>
    </div>

</div>
<div class="form-inline">
    <p id='totalPayment' style="float:right;margin-right:15px;"></p>
    <p id="total" style="float:right;margin-right:10px;">Total = </p>

</div>

<div class="panel">
    <div class="container-fluid">
        <table id="paymentTable" class="display table table-striped">
            <thead style="background-color:gray;">
                <tr>
                    <th></th>
                    <th>Grade</th>
                    <th>Student</th>
                    <th>Fee</th>
                    <th>Paid Date</th>
                    <th>Paid For</th>
                    <th>GradeId</th>
                    <th>Paid For</th>
                </tr>

            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<footer>
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>

@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/PaymentReport/Payments.js")
    @Scripts.Render("~/Scripts/DataTables/jquery-ui.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
}

