﻿<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/yearpicker.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />

<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />

<style>
    #GradeId {
        margin-right: 100px;
    }

    #ClassDate {
        margin-right: 100px;
    }

    #ClassTime {
        margin-right: 100px;
    }
</style>
<div id="content">
    <div>
        <h2>Fees</h2>
    </div>


    <div class="row col-sm-12">
        <div class="row form-inline" style="margin-bottom:20px;">

            <input type="text" class="yearpicker form-control" id="year" value="" autocomplete="off"><a class=" search" style="margin:0px 10px 3px 10px;"><span class="glyphicon glyphicon-search"></span></a>

            @*@Html.DropDownList("StudentName", (SelectList)ViewBag.stuName, "All Students", new { @class = "form-control" })*@

            @Html.DropDownList("Grade", (SelectList)ViewBag.grades, "All Grades", new { @class = "form-control" })
            @*@Html.DropDownList("Schedule", (SelectList)ViewBag.clsSch, "Class Schedule", new { @class = "form-control" })*@

            <select class="form-control" id="schedule">
                <option value="value">Classes</option>
            </select>


        </div>
    </div><br>

    <div class="container-fluid">
        <table id="feesTable" class="display">
            <thead>
                <tr>
                    <th>GradeId</th>
                    <th>SchId</th>
                    <th>Student Name</th>
                    <th>Fee</th>
                    <th>Jan</th>
                    <th>Feb  </th>
                    <th>Mar</th>
                    <th>Apr</th>
                    <th>May </th>
                    <th>June</th>
                    <th>July</th>
                    <th>Aug</th>
                    <th>Sep</th>
                    <th>Oct</th>
                    <th>Nov</th>
                    <th>Dec</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div id='overlay2' class='spinner'>
    <div class="dot1"></div>
    <div class="dot2"></div>
</div>

<div id="fakeloader-overlay" class="visible incoming">
    <div class="loader-wrapper-outer">
        <div class="loader-wrapper-inner">
            <div class="loader"></div>
        </div>
    </div>
</div>

<footer>
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>




@section scripts {
    @Scripts.Render("~/Scripts/Fees/Fees.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/Tables.js")
    @Scripts.Render("~/Scripts/plugin/yearpicker.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>