﻿@*@{
        Layout = "";
    }*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">z
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IFS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="plugins/SubscriberDashboard/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="plugins/SubscriberDashboard/dist/css/adminlte.min.css">
    <link href="Plugins/Fonts/css/font-awesome-min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/plugin/Summernote/SummerNote.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image" style="margin-left:60px;">
                        <img src="~/images/ifslogo final.png" alt="Logo" class="brand-image img-circle elevation-3"
                             style="opacity: .8;width:30px;">
                    </div>
                </div>
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/images/user-image-icon-17.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Welcome @Session["UserName"]</a>
                    </div>
                </div>

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/SubscriberPaymentDetail" class="nav-link">
                                <i class="nav-icon 	far fa-money-bill-alt"></i>
                                <p>
                                    Payments
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/SubscriberLibraryManagement" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Library Records
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Blog" class="nav-link">
                                <i class="nav-icon fas fa-blog"></i>
                                <p>
                                    Blog
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" id="logOut">
                                <i class="nav-icon fas fa-power-off" title="logout" style="margin-left:70px;"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div role="main" class="right-main-wrapper" style="margin-left:300px;">

            @RenderBody()
        </div>


        <div id="fakeloader-overlay" class="visible incoming">
            <div class="loader-wrapper-outer">
                <div class="loader-wrapper-inner">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

<script src="plugins/SubscriberDashboard/jquery/jquery.min.js"></script>
<script src="plugins/SubscriberDashboard/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/SubscriberDashboard/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="plugins/SubscriberDashboard/dist/js/adminlte.js"></script>
<script src="plugins/SubscriberDashboard/dist/js/pages/dashboard.js"></script>
<script src="~/Scripts/Login/UserControl.js"></script>
<script src="~/Scripts/DataTables/datatables.min.js"></script>
<script src="~/Scripts/plugin/Summernote/SummerNote.js"></script>