body {
  font-family: $main-font;
  line-height: 100%;
  background: #fff;
}
h1 {
  font-size: 68px;
  line-height: 106%;
}

h2 {
  font-size: 44px;
  line-height: 106%;
}

h6 {
  // font-family: $Montserrat
}

p {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 20px;
}

/*Tab devices*/
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 44px;
    line-height: 106%;
  }
  h2 {
    font-size: 32px;
    line-height:140%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 44px;
    line-height: 106%;
  }
  h2 {
    font-size: 32px;
    line-height:140%;
  }
}

/*Mobile phones*/
@media (max-width: 767px) {
  body {
    padding-top: 80px;
  }
  h1 {
    font-size: 28px;
    line-height: 140%;
  }
  h2 {
    font-size: 26px;
    line-height: 140%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
}

footer{
  text-align: center;
}