html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  overflow: hidden;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  // font-size: 100%;
  // font: inherit;
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

//ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.clear {
  clear: both;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

a {
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }
}

select,
button,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  /* Safari */
  -moz-appearance: none;
  /* Fire Fox */
  text-indent: 1px;
  text-overflow: "";
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
}

/* For IE */
select::-ms-expand {
  display: none;
}

/*iframe*/
iframe {
  border: none;
  width: 100%;
}

/*Large Screens*/
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

::selection {
  background: $gold;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $gold;
  /* Gecko Browsers */
}

.row-clr {
  margin-left: 0px;
  margin-right: 0px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
html {
  scroll-behavior: smooth;
}
/*Tab devices*/
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

/*Mobile phones*/
@media (max-width: 767px) {
  br {
    display: none;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
}

// /*Tab devices*/
// @media (min-width: 992px) and (max-width: 1199px) {
// }

// @media (min-width: 768px) and (max-width: 991px) {
// }

// /*Mobile phones*/
// @media (max-width: 767px) {

// }

// @media (max-width: 767px) and (orientation: landscape) {
// }
