@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
//
// Font Family
// _______________________________________________
$main-font: "Kumbh Sans", sans-serif;
// $font-2:
//
// Colors
// _______________________________________________

$black: #010101;
$black-1: #000001;
$black-2: #111111;
$black-3: #040814;

$white: #fff;
$white-1: #fafafa;

$gold: #e8cb71;
$gold-1: #cea937;

$gray-01: #a3a3a3;
$gray-02: #fafafa;

$orange-1: #bb6f46;

$blue-1: #0682b9;
$blue-2: #1a3d7e;
$blue-3: #072864;

$blue-5: #14b2d5;

$pink-1: #ff0072;

$yellow-1: #ffa726;

$hover-color: $gold;

$test: rgba(255, 0, 0, 0.5);


// gradient

$red-gradient:linear-gradient(60deg, #ef5350, #e53935);
$green-gradient: linear-gradient(60deg, #66bb6a, #43a047);
$purple-gradient: linear-gradient(60deg, #ab47bc, #8e24aa);
$blue-gradient: linear-gradient(60deg,#26c6da,#00acc1);;
