.btn {
 
  padding: 12px 30px;
  margin:0;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
 min-height: 40px;

}
.btn-primary {
  color: #fff;
  background-color: $yellow-1;
  border-color: $yellow-1;
}

.btn.btn-success{
  color: #fff;
  background-color: $green-gradient;
  border-color: $green-gradient;
}


/*Large Screens*/
@media (min-width: 1400px) {
}

/*Tab devices*/
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

/*Mobile phones*/
@media (max-width: 767px) {
}

@media (max-width: 767px) and (orientation: landscape) {
}
