.dataTables_wrapper {
  .dataTables_length {
    label {
      width: 150px;
      select {
        width: 50px;
        height: 50px;
        border: none;
        font-size: 13px;
        margin: 0;
      }
    }
  }
  .dataTables_filter{
      padding: 15px 0 10px;
      input[type="search"]{
          height: 30px;
          padding: 0 15px;
      }
  }
  .btn{
      height: 20px !important;
     
     
      &.btn-success{
        padding: 0px 30px 0 10px; 
      }
      &.btn-danger{
        padding: 0px 10px 0 30px; 
      }
  }



  table{
    thead{
        tr{
            th{
                padding: 15px 10px;
                background:#ccc;
            }
        }
    } 
    tbody{
        tr{
            td{
                // padding: 20px 10px;
            }
            .button-wrapper{
                padding: 10px 0;
                
            }
            .text-wrapper{
                padding: 18px 10px 0;
            }
            .text-wrapper-1{
                padding: 10px 10px 0;
                .btn{
                    padding-bottom: 0;
                    line-height: 140%;
                    padding: 0;
                }
            }
        }
    }
  }

  .toggle.btn{
      width: 70px !important;
  }
}
