select,
button,
input[type="text"],
input[type="email"],
input[type="password"] {
    border-bottom:1px solid #d2d2d2  ;
    padding: 10px ;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    &:focus{
        border-bottom:1px solid #d2d2d2 !important  ;
    }
}
