.main-wrapper {
  padding-left: 250px;
  .top-menu {
    background: #fff;
    color: #000;
  }
  .sidenav {
    padding-right: 20px;
    width: 250px;
    min-height: 100vh;
    background: #fff;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
      0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      max-height: 100vh;
    .logo-wrapper {
      width: 250px;
      text-align: center;
      a {
        display: block;
      }
      img {
        width: 100px;
        margin: 0 auto;
      }
      p {
        padding: 10px 0;
        text-align: center;
        margin-bottom: 10px;
      }
    }
    .left-navigation {
        h5 {
            font-weight: 700;
            margin: 20px 0 10px;
            padding-left: 30px;
          }
      ul {
        li {
          .menu-list {
            width: 200px;
            min-height: 50px;
            margin: 0 auto;
            background: $green-gradient;
            padding: 17px 15px;
            margin-bottom: 10px;
           
            a {
              display: inline-block;
              color: #fff;
              width: auto;
              padding: 0;
            }
          }
        }
      }
      ul {
        &.payment {
          li {
            .menu-list {
              background: $red-gradient;
            }
          }
        }
      }
      ul {
        &.library {
          li {
            .menu-list {
              background: $purple-gradient;
            }
          }
        }
      }
      ul {
        &.user-detail {
          li {
            .menu-list {
              background: $blue-gradient;
            }
          }
        }
      }
    }
  }
}
