.modal {
  .modal-header {
    position: relative;

    .close {
      position: absolute;
      text-align: right;
      right: 30px;
    }
  }
  select,
  button,
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: 1px solid #d2d2d2;
  }
  select, textarea{
    max-width: none;
    max-width: 100%;
    resize: none;
  }
}
