.widget-row {
  margin-bottom: 40px;
  .inner-wrapper {
    position: relative;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    .icon-wrapper {
      position: absolute;
      border-radius: 4px;
      top: -20px;
      left: 20px;
      height: 50px;
      width: 50px;
      text-align: center;
      font-size: 30px;
      padding: 8px;
      color: #fff;
      label {
        display: block;
      }
      &.green {
        background: $green-gradient;
      }
      &.red {
        background: $red-gradient;
      }
    }
    .inner-content-wrapper {
      text-align: right;
      h6 {
        font-size: 15px;
      }
      p {
        font-size: 30px;
        margin-bottom: 0;
      }
    }
  }
}
