﻿@model WebApplication6.Models.UserProfile

@{
    ViewBag.Title = "Login";
}

@{
    Layout = "";
}



<html lang="en">
<head>
    <title>IFS</title>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugin/UserLogin/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugin/UserLogin/main.css">
    <link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
</head>
<body>

    <section class="login-section" style="background-image: url('/images/images1.jpg');">
        <div class="home-icon">
            <a href="/PublicPage/Index">

                <img class="img-responsive" src="~/images/icons/home-icon.png" />
                <p>
                    Student Login
                </p>
            </a>

        </div>
        <div class="login-wrapper">
            <h2>Ishani Fernando School Student,Fees &  <br> Library Management System</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="">
                    <div>
                        <form class="login100-form">
                            <p>
                                Admin Login
                            </p>


                            <div class="validate-input">
                                @*<input type="text" class="" name="userName" id="userName" placeholder="User Name" />
            <span class="focus-input100"></span>*@
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>


                            <div class="validate-input" data-validate="Password is required">
                                @*<input type="password" class="" name="password" id="password" s placeholder="Password" />
            <span class="focus-input100"></span>*@
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            @*@if ((string)TempData["Referrer"] == "Invalid")
                            {
                                <div class="alert alert-danger">
                                    <strong>Invalid Username or Password</strong>
                                </div>
                            }*@
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="container-login100-form-btn">
                                <button class="btn btn-primary" onclick="Validate()">
                                    Login
                                </button>
                            </div>

                            <div class="text-center">
                                <span class="txt2">
                                    <a href="/PublicPage/Index">  </a>
                                </span>
                            </div>
                        </form>

                        @*<div class="row">
                                <a href="/PublicPage/Index" style="color:black;"><i class="fa fa-clock-o"></i> Home </a>
                            </div>*@
                    </div>
                </div>
            }
        </div>

        <footer class="">
            @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
        </footer>

    </section>




    <script src="plugins/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="plugins/vendor/animsition/js/animsition.min.js"></script>
    <script src="plugins/vendor/bootstrap/js/popper.js"></script>
    <script src="plugins/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/vendor/select2/select2.min.js"></script>
    <script src="plugins/vendor/daterangepicker/moment.min.js"></script>
    <script src="plugins/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="plugins/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Scripts/plugin/UserLogin/main.js"></script>

</body>
</html>

