﻿
@{
    Layout = "~/Views/Subscriber/Shared/Layout.cshtml";
}


<link href="~/Content/plugin/Stripe/stripe.css" rel="stylesheet" />
<link href="~/Content/yearpicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    .paymentMonth {
        width: 150px;
    }

    .modal-open .modal.modal-center {
        display: flex !important;
        align-items: center !important;
    }

    .modal-dialog {
        flex-grow: 1;
    }
</style>

<div class="" role="tabpanel" data-example-id="">
    <ul id="association-details" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#step1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Payment History</a>
        </li>
        <li role="presentation" class="">
            <a href="#step2" role="tab" id="pay-tab" data-toggle="tab" aria-expanded="false">Pay</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div id="step1" class="tab-pane fade in active" aria-labelledby="home-tab">
            <div class="container" style="margin-top:30px;">
                <div class="row">
                    <div class="panel-body">
                        <div class="row" id="paymentHis">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="step2" class="tab-pane fade" aria-labelledby="pay-tab">
            @*<div class="container" style="margin-top:30px;">
                    <form action="/charge" method="post" id="payment-form" class="col-sm-8">
                        <div class="row form-inline rowEle">
                            <label class="col-sm-3">
                                Year
                            </label>
                            <div>
                                <input type="text" class="yearpicker form-control" id="paymentYear" value="" autocomplete="off" style="margin:5px 0px 0px 10px;">
                            </div>
                        </div>
                        <div class="form-row rowEle">
                            <label for="card-element" class="col-sm-3">
                                Credit or debit card
                            </label>
                            <div id="card-element" style="width:500px;">

                            </div>
                            <div id="card-errors" role="alert"></div>
                        </div>

                        <button id="submitPayment" class="form-control col-sm-2">Submit Payment</button>
                    </form>
                </div>*@
            <div class="cell payement pay col-sm-8" id="example-1">
                <form>
                    <fieldset>
                        <div class="row">
                            <label for="pay-name" data-tid="elements.form.name_label">Name</label>
                            <input id="pay-name" data-tid="elements.form.name_placeholder" type="text" placeholder="Jane Doe" required="" autocomplete="name">
                        </div>
                        <div class="row">
                            <label for="pay-email" data-tid="elements.form.email_label">Email</label>
                            <input id="pay-email" data-tid="elements.form.email_placeholder" type="email" placeholder="janedoe@gmail.com" required="" autocomplete="email">
                        </div>
                        <div class="row">
                            <label for="pay-phone" data-tid="elements.form.phone_label">Phone</label>
                            <input id="pay-phone" data-tid="elements.form.phone_placeholder" type="tel" placeholder="071-5541414" required="" autocomplete="off">
                        </div>
                        <div class="row">
                            <label for="pay-month" data-tid="elements.form.month_label" style="margin-right:10px;">Month</label>
                            @Html.DropDownList("Select_Month", (SelectList)ViewBag.months, "Select Month", new { @class = "form-control paymentMonth" })
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <div id="pay-card"></div>
                        </div>
                    </fieldset>
                    <button type="submit" data-tid="elements.form.pay_button" id="amountOnButton">Pay </button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade in" id="successAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body ">
                    <div class="thank-you-pop">
                        <img src="~/images/Green-Round-Tick.png" alt="">
                        <h1>Thank You!</h1>
                        <p>Your payment is received . Your invoice will be emailed....</p>
                        <h3 class="cupon-pop">Amout: <span id="paidAmount"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<footer class="col-sm-10">
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>

<script src="https://js.stripe.com/v3/"></script>
<script src="~/Scripts/plugin/Stripe/stripe.js"></script>

@section scripts{
    @Scripts.Render("~/Scripts/Subscriber/PaymentHIstory/payments.js")
    @Scripts.Render("~/Scripts/plugin/yearpicker.js")
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>