﻿<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Plugins/cardView/cardCSS.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@*@Html.Partial("Wrapper")*@

<div class="row row-clr" style="margin-left:200px;">
    <h2>Lend Books</h2>
</div>



<div class="form-inline" style="margin:0px 0px 20px 200px; ">

    @Html.DropDownList("Category", (SelectList)ViewBag.categories, new { @class = "form-control", @style = "width:400px;" })
    @*<input type="text" class="form-control" placeholder="search book no" value="" id="bookNo" autocomplete="off" style="margin-left:20px;">*@@*<button class="btn btn-success search" id="searchBook"><span class="glyphicon glyphicon-search"></span></button>*@
    @*<input type="text" class="form-control" placeholder="search student name" value="" id="stdNo" autocomplete="off" style="margin-left:20px;">*@@*<button class="btn btn-success search" id="stuSearchBox"><span class="glyphicon glyphicon-search"></span></button>*@

</div>


<div id="ResultArea" class="col-sm-12" style="margin:50px 0px 0px 200px;">
    <div class="row form-inline col-sm-10" id="booksResult">

    </div>

</div>

<div class="modal fade " id="bookSelection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-top:100px;">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Select The Book No</h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <label class="col-sm-3">Book Copies:</label>
                    <select id="copies" class="form-control">
                        <option value="value"></option>
                    </select>
                </div>
                <input type="hidden" name="name" id="hdnDate" />
                <input type="hidden" name="name" id="hdnStdId" />
                <input type="hidden" name="name" id="hdnBookId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary " id="saveCopy" onclick="SaveCopy()">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="lendBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-top:100px;">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Lend Book</h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <label class="col-sm-4">Student Id: </label>
                    <input type="text" name="id" class="form-control" id="stuIdForLend" value="" placeholder="student no" style="width:300px;margin:5px 0px 5px 0px;" />
                </div>
                <div class="form-inline">
                    <label class="col-sm-4">Student Name: </label>
                    <input type="text" name="name" class="form-control" id="stuNameForLend" value="" placeholder="student name" style="width:300px;margin:5px 0px 8px 0px;" />
                </div>
                <div class="form-inline">
                    <label class="col-sm-4">Book Copies: </label>
                    <select id="bookCopies" class="form-control" style="width:150px;">
                        <option value="value"></option>
                    </select>
                    <span class="error hidden formError col-sm-8">Please complete required fields</span>
                </div>
                <input type="hidden" name="name" id="hdnBookIdForLend" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary " id="saveLend" onclick="saveLend()">Lend</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="returnBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-top:100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Return Book</h4>
            </div>
            <div class="modal-body col-sm-12" id="lentRecords" style="min-height:80px;">

            </div>
        </div>
    </div>
</div>


<footer class="cl-sm-10" style="position:fixed;Width:100%;bottom:0;">
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>

@section scripts {
    @Scripts.Render("~/Scripts/LendBook/lendBook.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/Tables.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
    @Scripts.Render("~/Scripts/plugin/footable.core.min.js")

}



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>
