﻿<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />

@Html.Partial("Wrapper")

<div class="row row-clr">
    <div class="col-md-6">
        <h4>Add Student</h4>
    </div>
</div>

<div class="container-fluid">
    <form id="createStudentForm" role="form" style="margin-left:-150px;">
        <fieldset>
            <div class="row">
                <label class="control-label col-sm-2" for="id">Student Id:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control studentIdCheck" id="studentId" placeholder="Id" name="studentId" required />
                    <span class="error hidden studentIdEmpty">Please enter student id</span>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <label class="control-label col-sm-2" for="name">Student Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control studentNameCheck" id="studentName" placeholder="Student Name" name="studentName" required />
                    <span class="error hidden studentNameEmpty">Please enter student name</span>
                </div>
            </div>
            <div class="row dropDown" style="margin-top:10px;">
                <label class="control-label col-sm-2" for="name">Grade:</label>
                <div class="col-sm-6">
                    <input type="hidden" id="hdnScheduleId" />
                    @Html.DropDownList("SelectGrade", (SelectList)ViewBag.gradeName, "-Select Grade-", new { @id = "grdName", Name = "Select Grade", @class = "form-control studentScheduleCheck" })
                </div>
            </div>
            <div id="row_1">
                <div class="row form-inline" style="margin-top:20px;">
                    <input type="hidden" id="hdnTime1" />
                    <input type="hidden" id="hdnTime2" />
                    <label class="control-label col-sm-2 hidden" id="clsSelection" for="date">Classes:</label>
                    <div class="col-sm-1" style="margin-top:5px;">
                        <p id="clsDate" class="col-sm-1"></p>
                    </div>
                    <div class="col-sm-2" style="margin-top:5px;">
                        <p id="clsName"></p>
                    </div>
                    <div class="col-sm-2 form-inline" id="classAp" style="margin-top:5px;display:none;">
                        <p id="clsTime1" class="col-sm-5"></p>
                        <p id="clsTime2" class="col-sm-5"></p>
                    </div>
                    <div class="col-sm-6 form-inline" id="newClss" style="margin-top:10px;">

                    </div>
                    <span class="error hidden studentScheduleEmpty">Please select a class</span>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-12">
                    <label class="control-label col-sm-2" for="number">Tel.No:</label>
                    <input type="text" class="form-control col-sm-2" id="telephoneNumber" placeholder="Land Number" name="telephoneNumber" style="margin-left:10px;width:250px;" />
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-12">
                    <label class="control-label col-sm-2" for="number">Mob.No:</label>
                    <input type="text" class="form-control col-sm-4" id="mobileNumber" placeholder="Mobile Number" name="mobileNumber" style="margin-left:10px;width:250px;" />
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-12">
                    <label class="control-label col-sm-2" for="number">Email:</label>
                    <input type="email" class="form-control col-sm-4 studentEmailCheck" id="email" placeholder="Email" name="email" style="margin-left:10px;width:250px;" required/>
                    <span class="error hidden studentEmailInvalid">Invalid email</span>
                </div>
            </div>

            <div class="modal-header" style="margin-top:30px;margin-left:20px;">
                <h4 class="modal-title" id="myModalLabel">Student Library Details</h4>
            </div>
            <div class="col-sm-5">
                <label class="control-label " for="number" style="margin:30px 0px 0px 60px;float:left;">Select Book Categories</label>
            </div>
            <div id="categories" style="margin-top:80px;margin-left:120px;font-weight:inherit;">

            </div>
        </fieldset>
        <div class="modal-footer" id="addStuFooter">
            <div class="row row-clr">
                <div class="col-md-6">
                    <label><span><a href="/Student/index"><label class="glyphicon glyphicon-arrow-left"></label>Go back</a></span></label>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary buttonAdd" id="saveStudent" onclick="SaveData()">Save</button>
                </div>
            </div>
        </div>
    </form>

</div>



<footer>
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>

@section scripts {
    @Scripts.Render("~/Scripts/Students/Students.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
    @Scripts.Render("~/Scripts/Common.js")

}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>