﻿@*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
<link href="~/Plugins/SubscriberDashboard/fontawesome-free/css/all.min.css" rel="stylesheet" />
@{
    var stuId = ViewData["studentId"];
}
@Html.Partial("Wrapper")

<html>
<head>

</head>
<body onload="GetSchedule(@stuId);">
    <div class="row row-clr">
        <div class="col-md-6">
            <h4>Edit Class</h4>
        </div>
    </div>
    <div class="container-fluid">
        <form id="createStudentForm" role="form" style="margin-left:-150px;">
            <div class="row">
                <input type="hidden" id="hdnStuId" />
                <label class="control-label col-sm-2" for="id">Student Id:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control studentIdCheck" id="editStudentId" placeholder="Student Id" name="studentId" disabled />
                    <span class="error hidden studentIdEmpty">Please enter student id</span>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <label class="control-label col-sm-2" for="name">Student Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control studentNameCheck" id="editStudentName" placeholder="Student Name" name="studentName" />
                    <span class="error hidden studentNameEmpty">Please enter student name</span>
                </div>
            </div>
            <div class="row editDropDown" style="margin-top:10px;">
                <label class="control-label col-sm-2" for="name">Grade Name:</label><span id="inactiveNowGrade"><i class="fas fa-info error" title="Grade is currently inactive"></i></span>
                <div class="col-sm-6">
                    <input type="hidden" id="editHdnScheduleId" />
                    @Html.DropDownList("SelectGrade", (SelectList)ViewBag.gradeName, "-Select Grade-", new { @id = "editGrdName", Name = "Select Grade", @class = "form-control studentScheduleCheck" })
                </div>
            </div>
            <div id="row_1">
                <div class="row form-inline" style="margin-top:20px;">
                    <label class="control-label col-sm-2" for="date">Classes:</label>
                    <div class="col-sm-1">
                        <p id="editClsDate" class="col-sm-1"></p>
                    </div>
                    <div class="col-sm-1">
                        <p id="editClsName"></p>
                    </div>
                    <div class="col-sm-1" id="editClassAp" style="margin-top:5px;display:none;">
                        <p id="editClsTime1" class="col-sm-3"></p>
                        <p id="editClsTime2" class="col-sm-3"></p>
                    </div>
                    <div class="col-sm-2 form-inline" id="newCls" style="margin-top:5px;">

                    </div>
                    <span class="error hidden studentScheduleEmpty">Please select a class</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin-top:10px;">
                    <label class="control-label col-sm-3" for="number">Tel.No:</label>
                    <input type="text" class="form-control col-sm-5" id="editTelephoneNumber" placeholder="Land Number" name="telephoneNumber" style="margin-left:10px;width:250px;" />
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-12">
                    <label class="control-label col-sm-3" for="number">Mob.No:</label>
                    <input type="text" class="form-control col-sm-5" id="editMobileNumber" placeholder="Mobile Number" name="mobileNumber" style="margin-left:10px;width:250px;" />
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-sm-12">
                    <label class="control-label col-sm-3" for="number">Email:</label>
                    <input type="email" class="form-control col-sm-4" id="editEmail" placeholder="Email" name="email" style="margin-left:10px;width:250px;" />
                </div>
            </div>

            <div class="modal-header" style="margin-top:30px;">
                <h4 class="modal-title" id="myModalLabel">Student Library Details</h4>
            </div>
            <div class="col-sm-5" style="float:left;">
                <label class="control-label " for="number" style="margin:30px 0px 0px 0px;float:left;">Select Book Categories</label>
            </div>
            <div id="editCategories" style="margin-top:80px;margin-left:30px;">
            </div>

        </form>

    </div>
    <div class="modal-footer" id="updateStuFooter">
        <div class="row row-clr">
            <div class="col-md-6">
                <label><span><a href="/Student/index"><label class="glyphicon glyphicon-arrow-left"></label>Go back</a></span></label>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary buttonAdd" id="updateStudent" onclick="UpdateData()">Update</button>
            </div>
        </div>
    </div>

    <footer>
        @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
    </footer>
</body>

</html>
@section scripts {
    @Scripts.Render("~/Scripts/Students/Students.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")

}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>