﻿<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
<link href="~/Plugins/SubscriberDashboard/fontawesome-free/css/all.min.css" rel="stylesheet" /> 
@*@Html.Partial("Wrapper")*@

<div class="row row-clr">
    <div class="col-md-6">
        <h2>Students</h2>
    </div>

    <div class="col-md-2 pull-right">
        <button style=" float:right;margin-bottom:30px;" class="btn btn-success pull-right buttonAdd" onclick="addStudent()">Add Student   <span class="glyphicon glyphicon-plus-sign"></span></button>

    </div>
    <div class="col-md-1 pull-right">
        <button style=" float:right;margin-bottom:30px;margin-right:10px;" class="btn btn-success pull-right iconButton" onclick="sendEmailModal()" title="send email"> <span class="fas fa-mail-bulk"></span></button>
    </div>

</div>

<div class="row" style="max-width:600px;">
    <div class="col-md-4">
        @Html.DropDownList("Grade", (SelectList)ViewBag.gradeName, "All Grades", new { @class = "form-control" })
    </div>
    <div class="col-md-4">
        <select class="form-control" id="schedule">
            <option value="value">Classes</option>
        </select>
    </div>
</div>

<div class="container-fluid">

    <table id="studentTable" class="display table table-striped">
        <thead style="background-color:gray;">
            <tr>
                <th></th>
                @*<th>GrdId</th>*@
                @*<th>ScheduleId</th>*@
                <th>Student Id</th>
                <th>Name </th>
                <th>Mobile No </th>
                <th>Email</th>
                <th>Tel No</th>
                <th>Grade</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div class="modal fade " id="emailContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Send Email</h4>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">

                    <form id="sendEmailForm" role="form">
                        <div class="row">
                            <label class="control-label col-sm-2" for="title">Title:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="emailSubject" placeholder="Enter Email Subject" name="emailTitle" required>
                            </div>
                            <span class="error hidden emailTitleEmpty">Please add subject</span>
                        </div>
                        <div class="md-form row form-inline" style="margin-top:10px;margin-left:10px;">
                            @*<i class="fas fa-pencil prefix grey-text">Description:</i>*@
                            <label data-error="wrong" data-success="right" for="form8">Content:</label>
                            <textarea type="text" id="emailContent" class="md-textarea form-control" rows="4" placeholder="Enter Email Content" style="margin-left:30px;" required></textarea>
                        </div>
                        <span class="error hidden emailContentEmpty">Please add content</span>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary " onclick="sendSingleEmail()">Send  <span class="glyphicon glyphicon-envelope"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>

@section scripts {
    @Scripts.Render("~/Scripts/Students/Students.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")

}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>