﻿
@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <link href="~/Content/custom-assets/NavBar/topNavBar.css" rel="stylesheet" />
    <link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar" id="menuItems">
        <a class=" btns" href="~/PublicPage/Index"> Home</a>
        <a class="btns" href="~/PublicPage/ContactUs">Contact Us</a>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

