﻿@{
    Layout = "";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/custom-assets/NavBar/blogSection.css" rel="stylesheet" />
    <link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_layout")
    <div class="container">
        <div style="text-align:center">
            <h2>Contact Us</h2>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/images/emailLogo.png" style="width:60%;height:40%">
            </div>
            <div class="column">
                <form action="">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                    <input type="text" id="email" name="email" placeholder="Your email..">
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px;margin-left:10px;"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>


    <footer class="col-sm-10">
        @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
    </footer>
</body>
</html>
