﻿
@{
    Layout = "";
}
<html lang="en">
<head>
    <title>IFS</title>
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="Plugins/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugin/UserLogin/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugin/UserLogin/main.css">
    <link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/custom-assets/NavBar/blogSection.css" rel="stylesheet" />
</head>
<body style="background-color: #666666;background-image: url('/images/images1.jpg');">
    @Html.Partial("_layout")
    <h2 class="schTitle">Welcome To IFS</h2>
    @*<div class="col-sm-5">
            <img src="/images/homepginfo.jpg" alt="desciption" height="500" width="480" />
        </div>*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="col-sm-7">
                <div class="leftcolumn">
                    <div class="card"  id="blogArea" >

                    </div>
                </div>
            </div>
            <div class=" col-sm-5" style="background-color:white;margin-top:10%">
                <div>
                    <form class="login100-form">
                        <span class="login100-form-title p-b-43">
                           Student Login
                        </span>


                        <div class="wrap-input100 validate-input">
                            <input type="text" class="input100" name="username" id="username" placeholder="User Name" />
                            <span class="focus-input100"></span>
                        </div>


                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input type="password" class="input100" name="password" id="password" placeholder="Password" />
                            <span class="focus-input100"></span>
                        </div>

                        @if ((string)TempData["Referrer"] == "Invalid")
                        {
                            <div class="alert alert-danger" style="width:250px;height:25px;padding-top:2px;">
                                <strong>Invalid Username or Password</strong>
                            </div>
                        }

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" onclick="SubscriberLogin()">
                                Login
                            </button>
                        </div>

                        <span class="text-center p-t-46 p-b-20 txt2">
                            @Html.ActionLink("Or Sign Up", "Register", "Account")
                        </span>
                    </form>

                    <div class="row p-b-20 txt2" style="margin:30px 10px 10px 0px;float:right;">
                        @Html.ActionLink("Admin Login", "Login", "Account")
                    </div>
                </div>
            </div>
        </div>

    }

    <footer class="col-sm-10">
        @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
    </footer>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="plugins/vendor/animsition/js/animsition.min.js"></script>
    <script src="plugins/vendor/bootstrap/js/popper.js"></script>
    <script src="plugins/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/vendor/select2/select2.min.js"></script>
    <script src="plugins/vendor/daterangepicker/moment.min.js"></script>
    <script src="plugins/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="plugins/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Scripts/plugin/UserLogin/main.js"></script>
    <script src="~/Scripts/Login/UserControl.js"></script>
</body>
</html>  