﻿

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/Data Tables/jquery.dataTables.min.css")
    @Styles.Render("~/Content/css")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  IFS</title>



    <link href="~/Content/sideBar.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="plugins/SubscriberDashboard/fontawesome-free/css/all.min.css">*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
</head>
<body>

    <!-- /#wrapper -->
    <div class="container-fluid wrapper main-wrapper">
        <div class="sidenav">

            <div class="logo-wrapper">
                <a href="">
                    <img class="img-responsive" src="~/images/ifslogo final.png" />
                    <p>
                        Ishani Fernando School
                    </p>
                </a>
            </div>

            @*<a class="navbar-brand">
                    <img style="height:30px;" src="~/images/ifslogo final.png" />
                </a>
                @Html.ActionLink("Ishani Fernando School", "Index", "Grade", new { area = "" }, new { @class = "navbar-brand", @id = "home" })*@

            <div class="left-navigation">
                <ul>
                    <li>
                        <div class="menu-list">
                            @Html.ActionLink("Grades", "Index", "GradeList")
                        </div>

                        <div class="menu-list">
                            @Html.ActionLink("Classes", "Index", "Grade")
                        </div>
                        <div class="menu-list">
                            @Html.ActionLink("Students", "Index", "Student")
                        </div>

                        <div class="menu-list">
                            @Html.ActionLink("Fees", "Index", "Fees")
                        </div>
                    </li>
                </ul>

                <h5>
                    Payment Details
                </h5>

                <ul class="payment">
                    <li>
                        <div class="menu-list">
                            @Html.ActionLink("Payments", "Index", "PaymentReport")
                        </div>

                        <div class="menu-list">
                            @Html.ActionLink("Unpaid Report", "Index", "Outstanding")
                        </div>

                    </li>
                </ul>


                <h5>
                    Library
                </h5>
                <ul class="library">
                    <li>
                        <div class="menu-list">
                            @Html.ActionLink("Book Categories", "Index", "BookCategory")
                        </div>

                        <div class="menu-list">
                            @Html.ActionLink("Books", "Index", "Books")
                        </div>
                        <div class="menu-list">
                            @Html.ActionLink("Lend Books", "Index", "LendBooks")
                        </div>

                        <div class="menu-list">
                            @Html.ActionLink("Pending Books", "Index", "PendingBooks")
                        </div>
                    </li>
                </ul>


                <br />
                <br />
                <br />
                <h5>
                    User Name : @Session["UserName"]
                </h5>
                <ul class="user-detail">
                    <li>
                        <div class="menu-list">
                            @Html.ActionLink("Edit Profile", "Index", "AdminDetail")
                        </div>

                        <div class="menu-list">
                            <a onclick="LogOff()">
                                Log out
                            </a>

                        </div>

                    </li>
                </ul>

            </div>

            @*<a>
                    <div class="col-sm-10">
                        <label class="glyphicon glyphicon-home panelLabel"></label>
                        @Html.ActionLink("Grades", "Index", "GradeList")
                    </div>
                </a>
                <a>
                    <div class="col-sm-10">
                        <label class="glyphicon glyphicon-book panelLabel"></label>
                        @Html.ActionLink("Classes", "Index", "Grade")
                    </div>
                </a>
                <a>
                    <div class="col-sm-10">
                        <label class="glyphicon glyphicon-user panelLabel"></label>
                        @Html.ActionLink("Students", "Index", "Student")
                    </div>

                </a>
                <a>
                    <div class="col-sm-10">
                        <label class="far fa-money-bill-alt" style="margin-right:5px;"></label>
                        @Html.ActionLink("Fees", "Index", "Fees")
                    </div>
                </a>
                <button class="dropdown-btn">
                    Payment Details
                    <span class="caret"></span>
                </button>
                <div class="dropdown-container">
                    <a>
                        <label class="glyphicon glyphicon-check panelLabel"></label>
                        @Html.ActionLink("Payments", "Index", "PaymentReport")
                    </a>
                    <a>
                        <label class="glyphicon glyphicon-credit-card panelLabel"></label>
                        @Html.ActionLink("Unpaid Report", "Index", "Outstanding")
                    </a>
                </div>
            *@
            @*<button class="dropdown-btn">
                    Library
                    <span class="caret"></span>
                </button>
                <div class="dropdown-container col-sm-12">
                    <a>
                        <label class="glyphicon glyphicon-th-list panelLabel"></label>
                        @Html.ActionLink("Book Categories", "Index", "BookCategory")
                    </a>
                    <a>
                        <label class="	glyphicon glyphicon-th-large panelLabel"></label>
                        @Html.ActionLink("Books", "Index", "Books")
                    </a>
                    <a>
                        <label class="glyphicon glyphicon-share-alt panelLabel"></label>
                        @Html.ActionLink("Lend Books", "Index", "LendBooks")
                    </a>
                    <a>
                        <label class="glyphicon glyphicon-alert panelLabel"></label>
                        @Html.ActionLink("Pending Books", "Index", "PendingBooks")
                    </a>*@
            @*<a>
                    <label class="glyphicon glyphicon-credit-card panelLabel"></label>
                    @Html.ActionLink("Pay", "Index", "TestPayment", new { @class = "navbar-toggleTitle"})
                </a>*@
            @*</div>*@
        </div>

        <div role="main" class="right-main-wrapper">

            @RenderBody()
        </div>

    </div>






    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>

@section Scripts{
    @Scripts.Render("~/bundles/modernizr")
}
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Login/UserControl.js"></script>
<script src="plugins/SubscriberDashboard/dist/js/adminlte.js"></script>