﻿<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>



<head>
    <meta content="width=1024, initial-scale=1.0; " name="viewport">
</head>





<script src="~/Scripts/Login/UserControl.js"></script>
