﻿<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />
<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />

@Html.Partial("Wrapper")

<div class="row row-clr">
    <div class="col-md-6">
        <h4>Add Class</h4>
    </div>
</div>

<div class="row col-sm-12">
    <form id="createGradeForm" role="form">

        <div class="row " style="margin-top:10px;">
            <label class="control-label col-sm-2 boldLabel" for="name">Grade:</label>
            <div class="col-sm-8">
                @Html.DropDownList("SelectedName", (SelectList)ViewBag.className, new { @id = "clsName", Name = "Select Name", @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><label class="control-label boldLabel col-sm-11" for="classTime">Start Time</label></div>
            <div class="col-sm-5"><label class="control-label boldLabel col-sm-4" for="classTime">End Time</label></div>
        </div>
        <div class="row form-inline direct" style="margin-top: 10px;" id="row_1">
            <div class="col-sm-3" style="margin-top:40px;">
                <input type="checkbox" id="checked_1" check-id="1" name="checkbox" class="timeValidate" value="1" style="margin:0px 5px -2px 0px;" />  Sunday
            </div>

            <div id="row_1_1" parentId="1" class="col-sm-9" style="margin-top:20px;">
                <div class="col-sm-3">

                    <input type="time" class="form-control col-sm-2 time1 timeValidate date_1" id="startTime_1_1" placeholder="Enter Class Time" name="classTime" date-id="1" style="margin-top:10px;">
                </div>
                <div class="col-sm-2">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="col-sm-3 form-control time2 timeValidate date_1" id="endTime_1_1" placeholder="Finishing Time" name="classTime" date-id="1">
                </div>
                <div class="col-sm-1 add">
                    <label class="control-label" for="AddTime"></label>
                    <a class=" glyphicon glyphicon-plus addRow" id="1" name="addDom" style="margin-top:20px;"></a>
                </div>
            </div>

        </div>
        <div class="row form-inline direct" style="margin-top: 10px;" id="row_2">
            <div class="col-sm-3" style="margin-top:20px;">
                <input type="checkbox" id="checked_2" check-id="2" name="checkbox" class="timeValidate" value="2" style="margin:0px 5px -2px 0px;" />Monday
            </div>

            <div id="row_2_1" parentId="2" class="col-sm-9 " style="margin-top:10px;">
                <div class="col-sm-3">
                    <label class="control-label" for="classTime"></label>
                    <input type="time" class="form-control col-sm-3 time1 timeValidate date_2" id="startTime_2_1" placeholder="Enter Class Time" name="classTime" date-id="2" style="margin-top:10px;">
                </div>
                <div class="col-sm-2">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="col-sm-3 form-control time2 timeValidate date_2" id="endTime_2_1" placeholder="Finishing Time" name="classTime" date-id="2">
                </div>
                <div class="col-sm-1 add">
                    <label class="control-label" for="AddTime"></label>
                    <a class="glyphicon glyphicon-plus addRow" id="2" name="addDom" style="margin-top:20px;"></a>
                </div>
            </div>


        </div>
        <div class="row form-inline direct" style="margin-top: 10px;" id="row_3">
            <div class="col-sm-3" style="margin-top:20px;">
                <input type="checkbox" id="checked_3" check-id="3" name="checkbox" class="timeValidate" value="3" style="margin:0px 5px -2px 0px;" />  Tuesday
            </div>

            <div id="row_3_1" parentId="3" class="col-sm-9 " style="margin-top:10px;">
                <div class="col-sm-3">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="form-control col-sm-2 time1 timeValidate date_3" id="startTime_3_1" placeholder="Enter Class Time" name="classTime" date-id="3" style="margin-top:10px;">
                </div>
                <div class="col-sm-2">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="col-sm-3 form-control time2 timeValidate date_3" id="endTime_3_1" placeholder="Finishing Time" name="classTime" date-id="3">
                </div>
                <div class="col-sm-1 add">
                    <label class="control-label" for="AddTime"></label>
                    <a class=" glyphicon glyphicon-plus addRow" id="3" name="addDom" style="margin-top:20px;"></a>
                </div>
            </div>
        </div>
        <div class="row form-inline direct" style="margin-top: 10px;" id="row_4">
            <div class="col-sm-3" style="margin-top:20px;">
                <input type="checkbox" id="checked_4" check-id="4" name="checkbox" class="timeValidate" value="4" style="margin:0px 5px -2px 0px;" />Wednesday
            </div>

            <div id="row_4_1" parentId="4" class="col-sm-9 " style="margin-top:10px;">
                <div class="col-sm-3">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="form-control col-sm-2 time1 timeValidate date_4" id="startTime_4_1" placeholder="Enter Class Time" name="classTime" date-id="4" style="margin-top:10px;">
                </div>
                <div class="col-sm-2">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="col-sm-3 form-control time2 timeValidate date_4" id="endTime_4_1" placeholder="Finishing Time" name="classTime" date-id="4">
                </div>
                <div class="col-sm-1 add">
                    <label class="control-label" for="AddTime"></label>
                    <a class=" glyphicon glyphicon-plus addRow" id="4" name="addDom" style="margin-top:20px;"></a>
                </div>
            </div>
        </div>
        <div class="row form-inline direct" style="margin-top: 10px;" id="row_5">
            <div class="col-sm-3" style="margin-top:20px;">
                <input type="checkbox" id="checked_5" check-id="5" name="checkbox" class="timeValidate" value="5" style="margin:0px 5px -2px 0px;" />Thursday
            </div>

            <div id="row_5_1" parentId="5" class="col-sm-9 " style="margin-top:10px;">
                <div class="col-sm-3">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="form-control col-sm-2 time1 timeValidate date_5" id="startTime_5_1" placeholder="Enter Class Time" name="classTime" date-id="5" style="margin-top:10px;">
                </div>
                <div class="col-sm-2">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="col-sm-3 form-control time2 timeValidate date_5" id="endTime_5_1" placeholder="Finishing Time" name="classTime" date-id="5">
                </div>
                <div class="col-sm-1 add">
                    <label class="control-label" for="AddTime"></label>
                    <a class="glyphicon glyphicon-plus addRow" id="5" name="addDom" style="margin-top:20px;"></a>
                </div>
            </div>
        </div>
        <div class="row form-inline direct" style="margin-top: 10px;" id="row_6">
            <div class="col-sm-3" style="margin-top:20px;">
                <input type="checkbox" id="checked_6" check-id="6" name="checkbox" class="timeValidate" value="6" style="margin:0px 5px -2px 0px;" />Friday
            </div>

            <div id="row_6_1" parentId="6" class="col-sm-9 " style="margin-top:10px;">
                <div class="col-sm-3">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="form-control col-sm-2 time1 timeValidate date_6" id="startTime_6_1" placeholder="Enter Class Time" name="classTime" date-id="6" style="margin-top:10px;">
                </div>
                <div class="col-sm-2">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="col-sm-3 form-control time2 timeValidate date_6" id="endTime_6_1" placeholder="Finishing Time" name="classTime" date-id="6">
                </div>
                <div class="col-sm-1 add">
                    <label class="control-label" for="AddTime"></label>
                    <a class=" glyphicon glyphicon-plus addRow" id="6" name="addDom" style="margin-top:20px;"></a>
                </div>
            </div>
        </div>
        <div class="row form-inline direct" style="margin-top: 10px;" id="row_7">
            <div class="col-sm-3" style="margin-top:20px;">
                <input type="checkbox" id="checked_7" check-id="7" name="checkbox" class="timeValidate" value="7" style="margin:0px 5px -2px 0px;" />Saturday
            </div>

            <div id="row_7_1" parentId="7" class="col-sm-9 " style="margin-top:10px;">
                <div class="col-sm-3">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="form-control col-sm-2 time1 timeValidate date_7" id="startTime_7_1" placeholder="Enter Class Time" name="classTime" date-id="7" style="margin-top:10px;">
                </div>
                <div class="col-sm-2">
                    <label class="control-label " for="classTime"></label>
                    <input type="time" class="col-sm-3 form-control time2 timeValidate date_7" id="endTime_7_1" placeholder="Finishing Time" name="classTime" date-id="7">
                </div>
                <div class="col-sm-1 add">
                    <label class="control-label" for="AddTime"></label>
                    <a class=" glyphicon glyphicon-plus addRow" id="7" name="addDom" style="margin-top:20px;"></a>
                </div>
            </div>
        </div>
        <div class="row row-clr" style="margin-top:20px;">
            <span class="error hidden formHasError">Please fix the errors</span>
        </div>

        <div class="modal-footer">
            <div class="row row-clr">
                <div class="col-md-6">
                    <label><span><a href="/Grade/index"><label class="glyphicon glyphicon-arrow-left"></label>Go back</a></span></label>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary buttonAdd" id="saveEmployee" onclick="SaveData()">Save</button>
                </div>
            </div>

        </div>
    </form>
</div>



@section scripts {
    @Scripts.Render("~/Scripts/Grades/Grades.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/Tables.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
    @Scripts.Render("~/Scripts/plugin/pnotify.js")

}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>
