﻿<link href="~/Content/Data Tables/jquery.dataTables.min.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
<link href="~/Content/plugin/fakeloader.css" rel="stylesheet" />
<link href="~/Content/plugin/pnotify.css" rel="stylesheet" />
<link rel="stylesheet" href="plugins/SubscriberDashboard/fontawesome-free/css/all.min.css">

<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<link href="~/Content/custom-assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="plugins/SubscriberDashboard/fontawesome-free/css/all.min.css">

<div class="row row-clr">
    <div class="col-md-6">
        <h2>Classes</h2>
    </div>

    <div class="col-md-2 pull-right">
        @if (@ViewBag.IsLecturer)
        {
            <button style="float:right; margin-bottom:30px;" class="btn btn-success pull-right buttonAdd" onclick="addClass()">Add Class   <span class="glyphicon glyphicon-plus-sign"></span></button>
        }
        else
        {<button style="float:right; margin-bottom:30px;" class="btn btn-success pull-right disabled buttonAdd" onclick="addClass()" disabled>Add Class   <span class="glyphicon glyphicon-plus-sign"></span></button>}

    </div>
    <div class="col-md-1 pull-right">
        <button  class="btn btn-success pull-right iconButton" onclick="sendMessageModal()" title="send SMS"> <span class="fas fa-mobile"></span></button>
    </div>
    @*<div class="col-md-1 pull-right">
        <button  class="btn btn-success pull-right iconButton" onclick="viewInbox()" title="Emails"> <span><i class="fas fa-mail-bulk" ></i></span></button>
        
    </div>*@
</div>



<div class="row" style="max-width:600px;">
    <div class="col-md-4">
        @Html.DropDownList("Grade", (SelectList)ViewBag.GradesToFilter, "All Grades", new { @class = "form-control" })
        @*@Html.DropDownList("Date", (SelectList)ViewBag.classDate, "Class Date", new { @class = "form-control" })*@
    </div>
    <div class="col-md-4">
        <select class="form-control" id="schedule">
            <option value="value">Classes</option>
        </select>
    </div>
</div>


<div class="container-fluid">
    <table id="gradesTable" class="display table  table-striped">
        <thead style="background-color:gray;">
            <tr>
                <th></th>
                <th>Grade Id</th>
                <th>Id</th>
                <th>Grade</th>
                <th>Date</th>
                <th>Start Time </th>
                <th>End Time </th>
                <th>Fee</th>
                <th>
                    No of Students
                </th>
                <th></th>
                <th></th>
            </tr>

        </thead>
        <tbody></tbody>
    </table>
</div>


<!--edit view-->
<div class="modal fade " id="editGrademodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="">Edit Class</h4>
            </div>
            <div class="modal-body ">
                <div>
                    <form id="editStudentform" role="form">
                        <input type="hidden" id="hdnGrdId" />
                        <div class="row">
                            <label class="control-label col-sm-3" for="name">Grade:</label>
                            <div class="col-sm-4">
                                <input type="hidden" id="hdnGrdName" />
                                <input type="text" class="form-control" id="editGradeName" placeholder="Enter Grade Name" name="Grade" readonly>
                            </div>
                        </div>
                        @*<div class="row form-inline" style="margin-top: 10px; padding-left:15px;" id="row_1">*@
                        <div class="row" style="margin-top: 20px;">
                            <label class="control-label col-sm-3" for="fees">Class Date:</label>
                            <div class="col-sm-4" id="dateSelected">
                                <input type="hidden" id="hdnDateId" />
                                @Html.DropDownList("SelectedDate", (SelectList)ViewBag.classDate, new { @id = "clsDate", Name = "Select Date", @class = "form-control" })
                            </div>
                        </div>

                        <div class="row" style="margin: -3px 0px 0px 65px;">
                            <div id="row_1_1" parentId="1" style="margin-top: 20px; padding-left:70px;" class="col-sm-12">
                                <div class="col-sm-5">
                                    <label class="control-label " for="classTime">Start Time</label>
                                    <input type="time" class="form-control col-sm-3" id="editStartTime" placeholder="Enter Class Time" name="classTime">
                                </div>
                                <div class="col-sm-5">
                                    <label class="control-label " for="classTime">End Time</label>
                                    <input type="time" class="col-sm-3 form-control " id="editEndTime" placeholder="Finishing Time" name="classTime">
                                </div>
                            </div>
                        </div>


                        @*</div>*@
                        <div class="row" style="margin-top: 20px;">
                            <label class="control-label col-sm-3" for="fees">Fees:</label>
                            <div class="col-sm-9 form-inline" style="padding-left:-10px;">
                                <div class="col-md-5" style="margin-left:-15px;">
                                    <input type="number" class="form-control" id="editFees" placeholder="Enter Fee" name="Fees" style="width:160px;text-align:right;" readonly>
                                </div>
                               
                                <div class="col-sm-1">
                                    <div class="row">
                                        <label for="fees" style="font-family:'Sitka Small'; padding:6px 20px">LKR</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-6">
                        @if (@ViewBag.IsLecturer)
                        {
                            <button type="button" class="btn btn-primary" id="updateEmployee" onclick="UpdateData()">Update</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary disabled" id="updateEmployee" onclick="UpdateData()" disabled>Update</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="messageContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close col-md-1" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Send message</h4>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">

                    <form id="sendMessageForm" role="form">
                        <div class="md-form row form-inline" style="margin-top:10px;margin-left:10px;">
                            @*<i class="fas fa-pencil prefix grey-text">Description:</i>*@
                            <label data-error="wrong" data-success="right" for="form8">Message:</label>
                            <textarea type="text" id="messageContent" class="md-textarea form-control" rows="4" placeholder="Enter Message" style="margin-left:30px;"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row row-clr">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary " onclick="sendSingleMessage()">Send  <span class="glyphicon glyphicon-envelope"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<footer>
    @Html.Partial("~/Views/Subscriber/Shared/Footer.cshtml")
</footer>

@section scripts {
    @Scripts.Render("~/Scripts/Grades/Grades.js")
    @Scripts.Render("~/Scripts/DataTables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugin/jquery.validation.js")
    @Scripts.Render("~/Scripts/DataTables/Tables.js")
    @Scripts.Render("~/Scripts/plugin/fakeloader.js")
    @Scripts.Render("~/Scripts/plugin/pnotify.js")


}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/pnotify.js"></script>